body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    text-align: center;
    padding-bottom: 10px;
}

.container p {
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    margin: 0 0 16px 0;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 16px 0;
}

.desciption-block{
    color: #FFFFFF;
    background-color: #284b63;
    padding: 13px 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.banner {
    pointer-events: none;
    user-select: none;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    color: white;
    font-weight: 500;
    font-size: 12px;
    background-color: #549DA0;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #468486;
}

section {
    padding: 50px 0;
    text-align: center;
}

.features {
    color: #000000;
    padding: 40px 0;
    background-color: #FFFFFF;
}

.feature {
    width: 32%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.feature img {
    width: 40%;
}

/* quotation */
.quote {
    color: #FFFFFF;
    padding: 30px 0;
    background-color: #549DA0;
}

blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
}

blockquote p {
    margin: 0 0 5px 0;
    font-size: 24px;
}

blockquote cite {
    font-size: 16px;
    font-style: italic;
}

blockquote cite::before {
    content: '-';
    margin-right: 5px;
}

footer {
    background-color: #353535;
    bottom: 0;    
    padding: 32px 0;
    text-align: center;
    color: #868686;
    font-size: 12px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
}

footer li a {
    padding: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #c3c3c3;
}

footer li a:hover {
    color: white;
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.slideshow-slide {
    display: none;
}

.slideshow-content {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.slideshow-content i {
    font-size: 5rem;
    margin-right: 2rem;
    color: #0077b6;
}

.slideshow-text {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.slideshow-text h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.slideshow-text p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

.slide-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #000;
}

.prev,
.next {
    text-decoration: none;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: #0077b6;
}

.prev {
    left: 0;
    margin-left: -50px;
}

.next {
    right: 0;
    margin-right: -50px;
}

.slideshow-slide:first-child .prev {
    display: none;
}

.slideshow-slide:last-child .next {
    display: none;
}

.slideshow-slide.active {
    display: block;
}

@media (max-width: 600px) {
    .slideshow-text h2 {
        font-size: 1.2rem;
    }

    .slideshow-text p {
        font-size: 1rem;
    }

    .slideshow-content {
        flex-direction: column;
    }

    .slideshow-content i {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .slide-counter {
        position: absolute;
        right: 10px;
        top: -23px;
        display: flex;
        align-items: center;
    }
    
    .prev,
    .next {
        text-decoration: none;
        position: relative;
        font-size: 1.3rem;
        cursor: pointer;
        z-index: 1;
        color: #0077b6;
    }

    .prev {
        left: -50px;
    }

    .next {
        right: -50px;
    }
}

